*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'OrchideaPro';
    font-size: 16px;
    color: #4D533C;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@font-face {
    font-family: "OrchideaPro";
    src: url("../style/fonts/OrchideaProMedium.ttf");
    src: url("../style/fonts/OrchideaProMediumItalic.ttf");
    font-style: normal; 
    font-weight: 400; 
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 0px 20px;
}

.hide{
    display: none;
}

.show {
    display: block;
}

main {
    flex: 1 1 auto;
}
@media (max-width: 1087px) {
    .__container {
        max-width: 970px;
    }
}
/* TABLET */
@media (max-width: 991.98px) {
    .__container {
        max-width: 750px;
    }
}
/* MOBILE */
@media (max-width: 768.98px) {
    .__container {
        max-width: none;
    }
}

/* SMALL MOBILE */
@media (max-width: 479.98px) {
}

/* ====================================================================== */
/* HEADER */
.header {
    background: linear-gradient(0deg, #464341 0%, #010101 100%);
    margin: 0;
    margin-bottom: 28px;
    padding: 35px 0px 29px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 425.98px) {
    .header {
        margin-bottom: 5px;
        padding: 5px 0px 5px 0px;
    }
    .header__container {
        display: block;
        text-align: center;
    }
}

.header__logo {
}

.header__logo span {
    color: #ffffff;
}

.header__number {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}
/* ====================================================================== */

/* NAV */
.nav {
}

.nav__container {
}

.tabs__items {
    margin: 82px 0px 60px 0px;
    display: flex;
    justify-items: flex-start;
}

.tab__item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #141414;
    margin-right: 55px;
    cursor: pointer;
    transition: 0.3s;
}
.tab__item:hover {
    color: rgb(73, 68, 68);
    transform: scale(1.2, 1.2);
    transition: 0.3s;
}
@media (max-width: 768.98px) {
    .tabs__items {
        justify-items: center;
        margin: 32px 0px 30px 0px;
    }
}

@media (max-width: 425.98px) {
    .tabs__items {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 8rem);
        margin: 10px 0px 10px 0px;
    }
    .tab__item {
        font-size: 25px;
    }
}
@media (max-width: 375.98px) {
    .tabs__items {
        gap: 10px;
    }
}
@media (max-width: 320.98px) {
    .tab__item {
        font-size: 20px;
    }
    .tabs__items {
        grid-template-columns: repeat(3, 7rem);
        gap: 0;
    }
    
}


/* ====================================================================== */

/* MAIN */
.main__title {
    font-family: 'OrchideaPro';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    align-items: center;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 70px;
}
.title__ipsum {
    text-align: center;
}

.main__title span {
    text-transform: lowercase;
}
.main-top {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 170px;
    margin-bottom: 150px;
}

.text-content {
    max-width: 600px;
}

.sub-title {
    font-family: 'OrchideaPro';
    font-size: 48px;
    line-height: 110%;
    color: #141414;
    margin-bottom: 25px;
}

.text {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #141414;
}

.main-top__photo {
    max-width: 550px;
}

.main-bottom {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 170px;
}

.main-bottom__photo {
    max-width: 550px;
}
@media (max-width: 768.98px) {
    .main-bottom, .main-top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 10px;
    }
    .sub-title {
        margin-bottom: 10px;
    }
    .main__title {
        margin-bottom: 20px;
    }
    .main-top__photo, .main-bottom__photo {
        width: 100%;
    } 
}
@media (max-width: 425.98px) {
    .sub-title {
        font-size: 30px;
    }
    .main__title {
        font-size: 50px;
    }
    .text {
        font-size: 12px;
    }
}
@media (max-width: 375.98px) {
    .main__title {
        font-size: 40px;
    }
}
@media (max-width: 375.98px) {
    .main__title {
        font-size: 35px;
    }
}
/* =======================*/
/* MAIN-ACCORDEON */
.main-accordion {
    text-align: center;
}

.accordion {
    color: #000;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    font-family: 'OrchideaPro';
    font-size: 48px;
    line-height: 130%;
}

.active, .accordion:hover {
    background-color: #7e7f80;
}

.accordion:after {
    content: '>';
    color: #000;
    font-size: 32px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: ">";
    transform: rotate(90deg);
}

.panel {
    padding: 0 18px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.main-lorem-accordion,.swiper-accordion {
    margin-top: 100px;
}

.main-lorem-accordion {
    margin-bottom: 30px;
}

@media (max-width: 1024.98px) {
    .accordion {
        font-size: 40px;
    }
}
@media (max-width: 768.98px) {
    .accordion {
        font-size: 30px;
    }
    .main-lorem-accordion,.swiper-accordion {
        margin-top: 50px;
    }
}
@media (max-width: 425.98px) {
    .accordion {
        font-size: 25px;
    }
}
@media (max-width: 375.98px) {
    .accordion {
        font-size: 20px;
    }
    .main-lorem-accordion,.swiper-accordion {
        margin-top: 10px;
    }
}
@media (max-width: 320.98px) {
    .accordion {
        font-size: 16px;
    }
}

/* ====================================================================== */
/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
}

.close__modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close__modal:hover,
.close__modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal__content {
    max-width: 900px;
    margin: 0 auto;
}

.modal__photo {
    margin: auto;
    display: block;
    width: 100%;
    width: 900px;
    height: 800px;
}
@media (max-width: 1440.98px) {
    .modal__photo {
        width: 90%;
        max-height: 680px;
    }
}
@media (max-width: 1024.98px) {
    .modal__photo {
        width: 80%;
        max-height: 550px;
    }
}
@media (max-width: 768.98px) {
    .modal__photo {
        width: 70%;
        max-height: 400px;
    }
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal__button-prev {
    width: 35px;
    height: 35px;
    background: url('../images/main-slider/btnModal_prev.svg');
    cursor: pointer;
}
.modal__button-prev:disabled {
    background-image: url('../images/main-slider/prev_ico.svg');
    background-color: inherit;
}

.modal__button-next {
    width: 35px;
    height: 35px;
    background: url('../images/main-slider/btnModal_next.svg');
    cursor: pointer;
}
.modal__button-next:disabled {
    background-image: url('../images/main-slider/next-ico.svg');
    background-color: inherit;
}

/* ====================================================================== */


/* SLIDER */
.swiper-wrapper {
    margin-top: 38px;
}
  
.swiper {
    margin: 0 auto;
}

.swiper-slide {
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

.swiper-slide-active,.swiper-slide-next,.swiper-slide-prev {
    opacity: 1;
    transition: .5s;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 550px;
}

.text-card_1 {
    position: absolute;
    bottom: 39px;
    font-size: 24px;
    line-height: 110%;
    width: 100%;
    padding: 35px 30px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
}

.text-card_2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 110%;
    width: 46%;
    height: 100%;
    text-align: center;
    padding: 48px 12px 0px 12px;
    background-color: #141414;
    color: #fff;
}

.buttons-slider {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.button-next {
    margin-left: 71px;
    cursor: pointer;
}

.button-prev {
    margin-right: 71px;
    cursor: pointer;
}

@media (max-width: 768.98px) {
    .swiper-slide, .swiper-slide-prev, .swiper-slide-next {
        height: 500px;
    }
    .text-card_1 {
        bottom: 0;
    }

    .buttons-slider {
        margin-top: 40px;
    }
}
@media (max-width: 425.98px) {
    .buttons-slider {
        margin-top: 20px;
    }
    .text-card_1 {
        font-size: 16px;
    }
}

/* ====================================================================== */
/* FOOTER */

.footer {
    background: #141414;
    text-align: center;
    margin-top: 100px;
}
.footer__container {
}

.footer__copyright {
    color: #FFFFFF;
    padding: 150px 0px 18px 0px;
}
@media (max-width: 768.98px) {
    .footer {
        margin-top: 50px;
    }
    .footer__copyright {
        color: #FFFFFF;
        padding: 50px 0px 18px 0px;
    }
}
@media (max-width: 425.98px) {
    .footer {
        margin-top: 20px;
    }
    .footer__copyright {
        color: #FFFFFF;
        padding: 20px 0px 9px 0px;
    }
}
