*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Orchidea Pro';
    font-size: 16px;
    color: #4D533C;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@font-face {
    font-family: "OrchideaPro";
    src: url("../style/fonts/OrchideaProMedium.ttf");
    src: url("../style/fonts/OrchideaProMediumItalic.ttf");
    font-style: normal; 
    font-weight: 400; 
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 0px 20px;
}

.hidden {
    display: none;
}

.show {
    display: 'block';
}

/* ====================================================================== */
/* HEADER */
.header {
    background: linear-gradient(0deg, #464341 0%, #010101 100%);
    margin: 0;
    margin-bottom: 28px;
    padding: 35px 0px 29px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}

.header__logo span {
    color: #ffffff;
}

.header__number {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}
/* ====================================================================== */

/* NAV */
.nav {
}

.nav__container {
}

.tabs__items {
    margin: 82px 0px 60px 0px;
    display: flex;
    justify-items: flex-start;
}

.tab__item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #141414;
    margin-right: 55px;
    cursor: pointer;
    transition: 0.3s;
}
.tab__item:hover {
    color: rgb(73, 68, 68);
    transform: scale(1.4, 1.4);
    transition: 0.3s;
}

/* ====================================================================== */

/* MAIN */
.main-lorem {
    display: block;
}

.main__title {
    font-family: 'OrchideaPro';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    align-items: center;
    text-transform: uppercase;
    color: #141414;
}
.title__ipsum {
    text-align: center;
}

.main__title span {
    text-transform: lowercase;
}
.main-top {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 170px;
    margin-bottom: 150px;
}

.text-content {
    max-width: 600px;
    max-height: 455px;
}

.sub-title {
    font-family: 'OrchideaPro';
    font-size: 48px;
    line-height: 110%;
    color: #141414;
    margin-bottom: 25px;
}
.text {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #141414;
}

.main-top__photo {
}

.main-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    gap: 170px;
}

.main-bottom__photo {
    width: 550px;
    height: 411px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
}

.close__modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close__modal:hover,
.close__modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal__content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* ====================================================================== */


/* SLIDER */
.main__ipsum {
    display: none;
}
    
.swiper-wrapper {
    margin-top: 38px;
}
  
.swiper {
    margin: 0 auto;
}

.swiper-slide {
    cursor: pointer;
    opacity: .5;
    transition: .2s;
}

.swiper-slide-active,.swiper-slide-next,.swiper-slide-prev {
    opacity: 1;
    transition: .5s;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 550px;
}

.text-card_1 {
    position: absolute;
    bottom: 39px;
    font-size: 24px;
    line-height: 110%;
    width: 100%;
    padding: 35px 30px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
}

.text-card_2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 110%;
    width: 46%;
    height: 100%;
    text-align: center;
    padding: 48px 12px 0px 12px;
    background-color: #141414;
    color: #fff;
}

.buttons-slider {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.button-next {
    margin-left: 71px;
    cursor: pointer;
}

.button-prev {
    margin-right: 71px;
    cursor: pointer;
}
  

/* ====================================================================== */
/* FOOTER */

.footer {
    margin-top: 184px;
    background: #141414;
    text-align: center;
}
.footer__container {
}
.footer__copyright {
    padding: 150px 0px 18px 0px;
    color: #FFFFFF;
}